<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to 99cats.com, <%= @user.username %>!!!!!!</h1>
    <p>
      You made an account!!???? That's awseome!!
      Your username is, <%= @user.username %>. That's super
      cool and it totally fits you!!!<br/>
    </p>
    <p>
      Comeback whenever u want by clikcing here --> <%= @url %>..
    </p>
    <p>WE LOVE YOU</p>
  </body>
</html>
